header {
    background-color: gray;
    padding: 10px;
}

h1 {
    font-size: 18px;
    text-align: center;
    padding: 5px;

    @media screen and (min-width: 422px) {
        display: inline-block;
        left: 50%;
    }


}

p {
    text-align: center;
    @media screen and (min-width: 422px) {
        display: inline-block;
        position: absolute;
        right: 10px;
    }
}

button {
    padding: 5px 10px;
    margin: 0px 20px;
    background-color: darkgray;
    border-radius: 20px;
    border: none;
}
